@model KRoberts_Theatre_Blog.Models.User

@{
    ViewBag.Title = "Promote User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Promote User</h2>

<h3>Are you sure you want to promote this user?</h3>
<div>
    <h4>
        @Html.DisplayFor(model => model.UserName)
    </h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Promote" class="btn btn-primary"/>
            @Html.ActionLink("Back", "ViewUsers",  null, new { @class = "btn btn-primary" })
        </div>
    }
</div>