@model KRoberts_Theatre_Blog.Models.User

@{
    ViewBag.Title = "Suspend User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suspend User</h2>

@if (@Model.Suspended)
{
    <h3>Are you sure you want to remove this user's suspension?</h3>
}
else
{
    <h3>Are you sure you want to suspend this user?</h3>
}
<div>
    <h4>
        @Html.DisplayFor(model => model.UserName)
    </h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-primary"/>
            @Html.ActionLink("Back", "All",  null, new { @class = "btn btn-primary" })
        </div>
    }
</div>